body {
    min-width:500px;
    box-shadow: -10px 0px 7px #d3d3d3;
    border: none;
    font-family: "Aspira", "Helvetica", "Arial", Sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    padding: 15px 10px 10px 10px;
    background-color: #F07D00;
    box-shadow: 0px 3px 7px #d3d3d3;
}

.centered {
    text-align: center;
}

#close {
    position: absolute;
    right: 0;
    margin: 3px 5px 0 5px;
}
.chegg-logo {
    width: 100px;
}

/* remove style for default button */
button {
    background: none;
    border: none;
}

input[type=text] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 80%;
    font-size: 1rem;
    margin: 0 15px 20px 18px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-transition: border-bottom .1s ease-in-out;
    transition: border-bottom .1s ease-in-out;
}

input:focus {
    border-bottom: 2px solid #F07D00;
}

.fa-search{
    position: relative;
    color: #d3d3d3;
    display: inline;
    right: 30%;
    /* top: 90px;*/
    bottom: 0;
    font-size: 150%;
    transform: scaleX(-1);
}
.fa-search:hover{
    color: #F07D00;
}

.fa-bars, .fa-folder {
    font-size: 150%;
    color: #fff;
    transform: scaleX(-1);
}

.fa-chevron-down, .fa-chevron-up, .fa-plus.new-folder {
    color: #fff;
} 
.fa-chevron-down:hover, .fa-chevron-up:hover, .fa-plus.new-folder:hover {
    color: #d3d3d3;
}

.add-concept.fa-plus {
    float: right;
    color: #F07D00;
}

.search-bar{
    padding: 20px;
}

a.link-to-chegg {
    font-size: 10pt;
}

button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: "Aspira", "Helvetica", "Arial", Sans-serif;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    vertical-align: baseline;
}

button:focus {
    outline:0;
}

.btn-primary, .btn-primary-lg {
    border-color: #2CAEA6;
    background-color: transparent;
    color: #2CAEA6;
    
    height: 44px;
    line-height: 44px;
    line-height: 0px\0;
    border-radius: 8px;
    font-size: 16px;
    padding: 0 40px;
}

.btn-primary:hover, .btn-primary-lg:hover {
    border-color: #2CAEA6;
    background-color: #2CAEA6;
    color: #FFF;
}

button.btn-concept {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
    display: inline-block;
}

button.btn-concept:hover {
    border-color: #fff;
    background-color: #fff;
    color: #F07D00;
}

button.btn-concept:active:focus { 
    border-color: #fff;
    background-color: #fff;
    color: #F07D00;
}

ul.live-search-list {
    list-style-type: none;
    padding: 0 40px 0 40px;
}

li.live-search-item {
    height: 30px;
    cursor: pointer;
}
li.live-search-item:hover {
   color: #F07D00;
}

.see-more {
    margin: 10px 0 30px;
}

.concept-definition {
    padding: 10px 50px 10px 50px;
    max-height: 300px;
    overflow-y: scroll;
}

.concept-title {
    margin-bottom: 20px;
}

.concept-subtitle {
    font-size: 12pt;
    color: #BEBEBE;
    margin: 7px 0 0 0;
    font-weight: 200;
}

p {
    font-size: 11pt;
}

.file-bar {
   
   padding: 20px 20px 0 20px;
   background-color: #F07D00; 
}

.orange-div {
    color: #fff;
}

.folder-card {
    display: inline-block;
    width: 75px;
    text-align: center;
}

.folder-card:hover {
    color: #d3d3d3;
}

.plus-right {
}

/* chegg study section */
.study-question {
    padding: 0px 50px 10px 50px;
}
.question {
    margin: 5px 0px 5px 0px;
    font-size: 11pt;
}

.section-header {
    color: grey;
    font-size: 9pt;
    margin: 5px 0 12px 0;
}

.tutors {
    padding: 0px 50px 10px 50px;
}

.footer {
    height: 10px;
}

#menu {
    display: none;
}

.menu-title {
    font-size: 10pt;
    color: #fff;
    margin: 10px 0 14px 14px;
}

.concept-collection {
    overflow-x: scroll;
    margin-bottom: 20px;
}

/* tutor-profile */
img.tutor-img {
	height:40px;
	width:40px;
	border-radius: 50%;
    margin: 10px;
}

img.tutor-img:hover {
	border-radius: 30%;
	border-style:solid;
	border-color:orange;
}

.tutor-profile {
    display: inline-block;
    width: 60px;
    text-align: center;
}

.tutor-title {
    padding: 0;
    margin: 0;
}

.go-to-chegg {
    margin: 5px;
}

.save-concept {
    color: #F07D00;
}