body {
    min-width:500px;
    box-shadow: -10px 0px 7px #d3d3d3;
    border: none;
    font-family: "Aspira", "Helvetica", "Arial", Sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    padding: 15px 10px 10px 10px;
    background-color: #F07D00;
    box-shadow: 0px 3px 7px #d3d3d3;
}

.centered {
    text-align: center;
}

#close {
    position: absolute;
    right: 0;
    margin: 3px 5px 0 5px;
}
.chegg-logo {
    width: 100px;
}

/* remove style for default button */
button {
    background: none;
    border: none;
}

input[type=text] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 80%;
    font-size: 1rem;
    margin: 0 15px 20px 18px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-transition: border-bottom .1s ease-in-out;
    transition: border-bottom .1s ease-in-out;
}

input:focus {
    border-bottom: 2px solid #F07D00;
}

.fa-search{
    position: absolute;
    color: #d3d3d3;
    display: inline;
    right: 20%;
    top: 90px;
    font-size: 150%;
    transform: scaleX(-1);
}
.fa-search:hover{
    color: #F07D00;
}

.fa-bars, .fa-folder {
    font-size: 150%;
    color: #fff;
    transform: scaleX(-1);
}

.fa-chevron-down {
    color: #fff;
} 
.fa-chevron-down:hover {
    color: #d3d3d3;
}

.fa-plus {
    float: right;
    color: #F07D00;
}

.search-bar{
    padding: 20px;
}

a.link-to-chegg {
    font-size: 10pt;
}

button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: "Aspira", "Helvetica", "Arial", Sans-serif;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    vertical-align: baseline;
}

button:focus {
    outline:0;
}

.btn-primary, .btn-primary-lg {
    border-color: #2CAEA6;
    background-color: #2CAEA6;
    color: #FFF;
    height: 44px;
    line-height: 44px;
    line-height: 0px\0;
    border-radius: 8px;
    font-size: 16px;
    padding: 0 40px;
}


ul.live-search-list {
    list-style-type: none;
    padding: 0 40px 0 40px;
}

li.live-search-item {
    height: 40px;
    cursor: pointer;
}
li.live-search-item:hover {
   color: #F07D00;
}

.see-more {
    margin: 10px 0 30px;
}

.concept-definition {
    padding: 0 60px 0px 60px;
    margin-bottom: 30px;
    max-height: 300px;
    overflow-y: scroll;
}

.concept-title {
    margin-bottom: 20px;
}

.concept-subtitle {
    font-size: 12pt;
    color: #BEBEBE;
    margin: 7px 0 0 0;
    font-weight: 200;
}

p {
    font-size: 11pt;
}

.selected {
    background-color: red;
}