/* define color spectrum used in the sidebar */
.left-menu {
    visibility: hidden;
}

.sliding-menu {
    visibility: hidden;
    position: fixed;
    overflow: hidden;
}

.flex-center-wrapper {
    display: flex;
    display: -webkit-flex;
    align-content: center;
    align-items: center;
    -webkit-align-content: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    text-align: center;
}

.left-menu {
    width: 350px;
}

element.style {
    position: fixed;
    visibility: visible;
    transition: -webkit-transform 0.01s cubic-bezier(0.54, 0.01, 0.57, 1.03);
    height: 679px;
    top: 0px;
    right: -300px;
}

.sliding-menu {
 background-color: #F07D00;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    list-style-type: none;
    margin: 20px 0px 20px 0px;
}

a.nav-item {
    font-family: "Julius Sans One", sans-serif;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 16px;
}

button.slider-exit {
    background-color: transparent;
    color: white;
    font-size: 20pt;
}

button.slider-exit:hover {
    color: #F07D00;
}

.btn-label {
    color: white;
}

.toggle-icon {
    position: relative;
    bottom: 0;
    right: 0;
    float: right;
    color: lightgrey;
    font-size: 30pt;
}

.toggle-icon:hover {
    color: #728AA3;
}

